body{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}
header{
    display: block;
    /*background-color: #AAAAAA; /*test*/
    padding-left: 8%;
    padding-right: 8%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333333;
}
header h1{
    display: inline-block;
    color: #666666;    
    font-size: larger;
    line-height: 60px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
nav{
    display: inline-block;    
    word-spacing: 10px;
    font-size: large;
    line-height: 60px;    
}

nav a{
    color: #aaaaaa;
    text-decoration: none;
    border: none;
    padding: 10px 10px 5px 10px;
    transition: color 0.5s;
}


nav a:hover{
    color:#6b6b6b;
    border-bottom: 2px solid #444444;
}
nav a.active{
    color: #444444;
    border-bottom: none;
}

article{
    /*background-color:rgb(237, 237, 237); /*test*/
    height: 60vh;
    display:block;
    padding-left: 5%;
    padding-right: 5%;
}