@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #444444;
    font-family: Jost, sans-serif;
}

/*** button scroll to top ***/
.btnScrollToTop {
    background-color: #fab920;
    color: #000000;
    font-size: larger;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;    
    transition:all 0.3s;
}

/* Ripple effect */
.btnScrollToTop {
    background-position: center;
    transition: all 0.8s;
}
.btnScrollToTop:hover {
    background: #ffcd57 radial-gradient(circle, transparent 1%, #ffcd57 1%) center/15000%;
}

.btnScrollToTop:active {
    background-color: #ffefc5;
    background-size: 100%;
    transition: all 0s;
}

/*** header ***/
header{
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 82vh;
}

footer{
    flex: 1;
    color: #444444;
    text-align: center;
    font-size: small;
    height: 8vh;
}

#logo{
    display: inline-block;
    color: #444444;    
    font-size: larger;
    line-height: 60px;
    font-weight: normal;
    text-decoration: solid underline #fcd069 4px;
}

/*** navigation bar ***/
nav{
    display: inline-block;    
    font-size: large;
    line-height: 60px;    
}

#menu {
    display: none;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;    
    width: 100vw;
}

nav ul li a{
    display: block;
    padding-left: 20px;
}

#btnNav {
    position: absolute;
    top: 0;
    right: 30px;
}
 
#btnNav input{
    display: none; /*** hide checkbox input ***/
}

#nav_btn {
    border: none;
    background-color: #f5f5f5;
    display: none;
}

#menu a{        
    color: #ffffff;
    display: block;
    width: 100%;    
}

#menu a.active {
    text-decoration: underline;
    text-underline-offset: 10px;
}

#menu a:hover {
    color: #444444;
    background-color: #f5f5f5;
    text-decoration: none;
}

/*** navigation bar hide and show ***/
.showSideBar .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 10;
}

.showSideBar  #side_nav{       
    background-color: rgba( 68, 68, 68 );
    position: fixed;
    right: 0;
    top: 0; 
    height: 100vh;
    width: 60vw;
    z-index: 11;
}

.showSideBar #nav_btn{
    color: #ffffff;
}

.showSideBar #menu {
    display: block;
}

.showSideBar #btnNav span{
    color: #ffffff;
}

.showSideBar #avatar {
    display: block;
    height: 80px;
}

/*** main section ***/
main{
    padding-left: 5%;
    padding-right: 5%;
}

section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro{
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project{
    width: 90%;
    text-decoration: none;
}

.proj_title{
    color: #444444;
}

.project:hover .proj_title{
    text-decoration: underline;
}

.project img{
    width: 100%;
}

.proj_img_hover {
    display: none;
}

.project:hover .proj_img {
    display: none;
}

.project:hover .proj_img_hover {
    display: block;
}

.proj_title {
    font-size: x-large;
}

.oneColumn {
    display: block;
    margin: auto;
    width: 90%;
}

#underConstructionTitle {
    text-align: center;
}

@media (min-width: 768px) {
    #btnNav {
        display: none;
    }

    #avatar {
        display: none;
    }

    #menu {
        display: block;
    }

    #menu a{
        color: #aaaaaa;
        text-decoration: none;
        font-style: normal;
        border: none;
        padding: 10px 10px 5px 10px;
        transition: color 0.3s;
    }
    
    #menu a:hover{
        color: #444444;
        text-decoration: solid underline #444444 2px;
        text-underline-offset: 10px;
    }
    
    #menu a.active{
        color: #444444;
        text-decoration: none;
        border-bottom: none;
    }

    nav ul{
        width: auto;
    }

    nav li {
        float: left;
    }

    main{
        padding-left: 15%;
        padding-right: 15%;
    }
}