div {
    text-align: justify;
}

h1{
    text-align: left;
}

h2{
    display: block;
    background-color: transparent;
    background-image: linear-gradient( #f8cc65, #f8cc65);
    background-position: bottom 20% left 0;
    background-size: 100% 15%;
    background-repeat: no-repeat;
}

h3{
    display: block;
    font-size: x-large;
    background-color: transparent;
    background-image: linear-gradient( #f8cc65, #f8cc65);
    background-position: bottom 20% left 0;
    background-size: 100% 15%;
    background-repeat: no-repeat;
}

.oneColumn {
    display: block;
    margin: auto;
    width: 90%;
}

/*** carousel controls ***/

.carousel-control-prev {
    left: -50px;
    border-bottom: 0;
    font-size: 40px;
    color: #999999;
    opacity: 1;
}
 
.carousel-control-next {
    right: -50px;
    border-bottom: 0;
    font-size: 40px;
    color: #999999;
    opacity: 1;
}

.carousel-control-prev:focus {
    color: #999999;
}

.carousel-control-next:focus {
    color: #999999;
}

.carousel-control-prev:hover {
    color: #444444;
}

.carousel-control-next:hover {
    color: #444444;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #555555;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .carousel-control-prev {
        left: -90px;
        border-bottom: 0;
        font-size: 40px;
        color: #999999;
        opacity: 1;
    }
     
    .carousel-control-next {
        right: -90px;
        border-bottom: 0;
        font-size: 40px;
        color: #999999;
        opacity: 1;
    }
}