h2{
    display: block;
    background-color: transparent;
    background-image: linear-gradient( #f8cc65, #f8cc65);
    background-position: bottom 20% left 0;
    background-size: 100% 15%;
    background-repeat: no-repeat;
}

h3{
    display: block;
    font-size: x-large;
    background-color: transparent;
    background-image: linear-gradient( #f8cc65, #f8cc65);
    background-position: bottom 20% left 0;
    background-size: 100% 15%;
    background-repeat: no-repeat;
}

div {
    text-align: justify;
}

section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.oneColumn {
    display: block;
    margin: auto;
    width: 80%;
}