<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        {% include header.html color="#3498DB" %}
        <br>
        {% for post in site.posts %}
        <li><a style="{% if page.url == post.url %}color: red;{%endif%}" href = "{{post.url}}">{{post.title}}</a></li>
        {% endfor %}

        {% for file in site.static_files %}
            {{file.path}}<br>
        {% endfor %}

        <h2>{{page.title}}</h2>
        <br>{{content}}</br>
    </body>
</html>